.table {
    border: 2px solid black;
}

.table tbody tr td {
    font-size: .75rem;
}

.table tbody tr th {
    font-size: 1.2rem;
    border: 1px solid black;
}

.table tbody tr {
    border: 1px solid black;
}

.time {
    width: 35%;
}

.active {
    border: 2px solid black;
    background-color: black;
    color: white;
}